<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/base">
<head>
    <meta charset="UTF-8">
    <title>DIA MFA</title>
</head>
<body>

<div layout:fragment="content" id="page_content">
    <div class="content-header">Administrator Functions</div>

    <div th:if="${errors != null}">
        <ul>
            <li th:each="error : ${errors}" th:text="${error}"></li>
        </ul>
    </div>

    <div th:if="${messages != null}">
        <ul>
            <li th:each="message : ${messages}" th:text="${message}"></li>
        </ul>
    </div>

    <table class="table">
        <tr>
            <td>Re-sync Trusted Agents with RSA Authentication Manager</td>
            <td>
                <form th:action="@{/admin/resyncTAs}" method="post">
                    <input type="submit" value="Re-Sync"/>
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>
