/*MASTER SITE TEMPLATE*/
p {-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-family:Muli,Helvetica,Arial,sans-serif;color:#66615b; font-size: 10.5pt; margin: 20px 10px 20px 10px;}

#log{ float: right;}

#sidebar 
{
	min-width: 260px;
	max-width: 250px;
	min-height: 100vh;
}

#sidebar.active {
margin-left: -250px;
}
	
#sidebar ul ul li a 
{
	padding:10px;
	margin: 0px 0px 10px 30px;
	font-size: 9.5pt;
	display: block;
}

.sidebar-logo{ margin: 25px 0 0 5px; }

i 
{  
  font-size: 20px;
  padding: 20px;
  color: #7386D5;
}
	
nav{ height:100%;}

hr 
{
  margin: 10px 10px 30px 10px;
  position: relative;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width:270px;
}

.shadow-sm{ margin-top:20px; }	

#content{background-color:white;}

a { color:#66615b;}

a:hover, a:focus 
{
	color: #3399ff;
	font-weight:600;
	text-decoration: none;
	transition: all 0.3s;
}

.fas
{
	/*place style for boxing and padding menu icons*/
}


/*LOGIN FORM*/

.login-logo
{
	display:block;
	margin: 0 auto 20px auto;
}

.login-form 
{
	width: 340px;
	margin: 50px auto;
}

.login-form form 
{
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 
{
	margin: 0 0 15px;
}

.form-control, .btn 
{
	min-height: 38px;
	border-radius: 2px;
}

.btn 
{        
	font-size: 15px;
	font-weight: bold;
}
