<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>MFA</title>

    <!--<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/jquery.dataTables.min.css}" />-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/appointment-picker.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/app.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/datatables/dataTables.bootstrap4.min.css}"/>

    <script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/js/jquery.spring-friendly.js}"></script>
    <script th:src="@{/resources/js/jquery-ui.js}"></script>
    <script th:src="@{/resources/js/appointment-picker.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/datatables/dataTables.bootstrap4.min.js}"></script>
</head>
<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" th:href="@{/home}">MFA App</a>
        <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/login}">Login</a>
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/perform_logout}">Logout</a>
            </li>
        </ul>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/ta/list}">
                                <span data-feather="home"></span>
                                Trusted Agents <span class="sr-only">(current)</span>
                            </a>
                        </li>

                    </ul>

                    <h6 sec:authorize="hasAuthority('TRUSTED_AGENT')" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Trusted Agent Activities</span>
                    </h6>
                    <ul sec:authorize="hasAuthority('TRUSTED_AGENT')" class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipment/list/all}">
                                <span data-feather="file"></span>
                                Shipments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/sites/list}">
                                <span data-feather="shopping-cart"></span>
                                Sites
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ta/profile}">
                                <span data-feather="users"></span>
                                My TA Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/token/distribute/search}">
                                <span data-feather="bar-chart-2"></span>
                                Assign Token
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/token/lost/search}">
                                <span data-feather="layers"></span>
                                User Lost Token
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/user/search}">
                                <span data-feather="layers"></span>
                                User Search
                            </a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('PMO')">
                            <a class="nav-link" th:href="@{/admin}">
                                <span data-feather="layers"></span>
                                PMO Activities
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="content">
                    <section layout:fragment="content"></section>
                </div>
            </main>
        </div>
    </div>


</body>
</html>
