<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/no_menu_base">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIA MFA</title>
    
	<!-- Bootstrap CSS CDN -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
	<link rel="stylesheet" href="resources/css/bootstrap/bootstrap.min.css">
	   
	<!-- jQuery CDN - Slim version (=without AJAX) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
	<script src="resources/js/jquery-3.3.1.min.js"></script>
	
	<!-- Popper (for tooltip graphics)-->
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
	<script src="resources/js/popper-1.12.9.min.js"></script>
    
    <!-- Bootstrap JS -->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->	
	<script src="resources/js/bootstrap/bootstrap.min.js"></script>
	
	<!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
    <!-- Google Font
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">-->
    
	<!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="resources/css/app.css"/>
	 
	<!--Stylesheets -->
    <!--<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/appointment-picker.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/app.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/datatables/dataTables.bootstrap4.min.css}"/>
	<!--<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/jquery.dataTables.min.css}" />-->

	<!--Javascripts -->
    <!--<script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/js/jquery.spring-friendly.js}"></script>
    <script th:src="@{/resources/js/jquery-ui.js}"></script>
	<script th:src="@{/resources/js/fontawesome/js/solid.js}"></script>
	<script th:src="@{/resources/js/fontawesome/js/fontawesome.js}"></script>
    <script th:src="@{/resources/js/appointment-picker.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/datatables/dataTables.bootstrap4.min.js}"></script>-->
       
	
</head>
<body>

<div layout:fragment="content" id="page_content">
	
	<div id="form-head">Welcome</div>
    <div class="login-form">
			<form name="f" th:action="@{/perform_login}" method="post" id="form">
				<img src="resources/images/logo2da1.png" style="width:220px" alt="DIA MFA" class="login-logo">      
                <div class="form-row">
                <div class="form-group col-md-11">
					<input type="text" id="inputUsername" class="form-control" placeholder="COE ID" name="username" required autofocus>
				</div>
                <div class="form-group col-md-1">
                    <a href="#" data-toggle="popover" data-trigger="focus" title="COE ID" data-content="Enter your COE user id"><i class="fas fa-question-circle"></i></a>
				</div>
                </div>
				<div class="form-row">
                <div class="form-group col-md-11">
					<input type="password" id="inputPassword" class="form-control" placeholder="PIN + Tokencode" name="password" required>
                </div>
                <div class="form-group col-md-1">
                    <a href="#" data-toggle="popover" data-trigger="focus" data-html="true" title="PIN + <img src='resources/images/token.png' width='40'/>" data-content="Enter your PIN and the code located on your RSA Token"><i class="fas fa-question-circle"></i></a>
				</div>
                </div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Log in</button>
				</div>
				<div class="clearfix text-center">
					<a href="#">Forgot PIN?</a>
				</div>        
			</form>
			<!--<p class="text-center"><a href="#">Create an Account</a></p>-->
     </div><!--End Form-->
    
    <script type="application/javascript">
        $("#form").validate();
    </script>
	
	<script>
		$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip();   
		});
        
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover(); 
        });
	</script>
</div>

</body>

</html>
