<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DIA MFA</title>
    <link rel="icon" type="image/png" sizes="32x32" href="resources/images/favicon-32x32.png">
    
    <!--Stylesheets -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/appointment-picker.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/datatables/dataTables.bootstrap4.min.css}"/>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/app.css}"/>

	<!--Javascripts -->
	<script th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/resources/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/resources/js/jquery.spring-friendly.js}"></script>
    <script th:src="@{/resources/js/jquery-ui.js}"></script>
	<script th:src="@{/resources/js/fontawesome/js/solid.js}"></script>
	<script th:src="@{/resources/js/fontawesome/js/fontawesome.js}"></script>
    <script th:src="@{/resources/js/appointment-picker.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/resources/js/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/resources/js/popper-1.12.9.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/datatables/dataTables.bootstrap4.min.js}"></script>
	
 </head>

<body>

		<!--Main content section-->
		<section layout:fragment="content"></section>
	
</body>
</html>