<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base">
<head>
    <meta charset="UTF-8">
    <title>DIA MFA</title>
</head>
<body>

<section layout:fragment="content" id="page_content">
    <div class="content-header">Trusted Agent Register</div>

    <form method="post" th:action="@{/ta/register/search}">
        <label for="rsaId">Search RSA User: </label><input type="text" name="rsaId" id="rsaId" required/>
        <input type="submit" value="Search"/>
    </form>

    <div th:if="${form != null}">
        <form method="post" th:action="@{/ta/register/submit}" th:object="${form}">
            <ul th:if="${#fields.hasErrors('*')}">
                <li class="error" th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
            </ul>

            <input type="hidden" name="rsaId" th:value="${form.rsaId}"/>
            <input type="hidden" name="firstName" th:value="${form.firstName}"/>
            <input type="hidden" name="lastName" th:value="${form.lastName}"/>
            <input type="hidden" name="email" th:value="${form.email}"/>
            <table class="table">
                <tbody>
                <tr>
                    <td>RSA ID</td>
                    <td th:text="${form.rsaId}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>
                        <span th:text="${form.firstName}"></span> <span th:text="${form.lastName}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td th:text="${form.email}"></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </form>
    </div>

    <script type="application/javascript">
        $("form").validate();
    </script>
</section>

</body>
</html>
