<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base">
<head>
    <meta charset="UTF-8">
    <title>DIA MFA</title>
</head>
<body>

<section layout:fragment="content" id="page_content">
    <div class="content-header">Trusted Agent Search</div>

    <form method="post" th:action="@{/ta/search}">
        <label for="name">Name</label> <input type="text" id="name" name="name"/>
        <input type="submit" value="Search" class="btn btn-primary"/>
    </form>

    <div th:if="${results != null}">
        <table>
            <thead>
                <tr>
                    <th>RSA ID</th>
                </tr>
            </thead>
            <tr th:each="ta : ${results}">
                <td th:text="${ta.rsaId}"></td>
                <td><a th:href="@{/ta/}">Details</a></td>
            </tr>
        </table>
    </div>

</section>

</body>
</html>
